[bot]

############
# Select the messenger the bot should run for
#  Options:
#    telegram
#    discord
############
app =

## Api Key for the bot
token =

[general]

###################
# Environments    #
# 1 - development #
# 2 - production  #
###################
environment=

###############
# Log Levels  #
# 1 - debug   #
# 2 - info    #
# 3 - warning #
# 4 - error   #
###############
loglevel = 2

[optional]

# Channels which should get notified about proposals (comma separated)
notification_channels =
# Admins userids for the selected messenger (comma separated)
admins =
# Admin password to run admin commands
password =
